{% extends 'base.html.twig' %}
{% trans_default_domain 'about' %}
{% block keyWord %}
    {{'about.seo.kw'|trans}}
{% endblock %}
{% block desc %}
    {{'about.seo.desc'|trans}}
{% endblock %}
{% block title %}{{'about.seo.title'|trans}}{{parent()}}{% endblock %}
{% block mainClass %}about{% endblock %}

{% block body %}
{{parent()}}
<h1>{{'about.title'|trans}}</h1>

<section>
    <h2>{{'about.section1.title'|trans}}</h2>
    <p>
        {{'about.section1.text1'|trans|raw}}
    </p>
    <p>
        {{'about.section1.text2'|trans}}
    </p>
</section>

<section>
    <h2>{{'about.section2.title'|trans}}</h2>
    <p>
        {{'about.section2.introText'|trans|raw}}
        
    </p>
    <ul>
        <li>
            {{'about.section2.valueAuthenticity'|trans|raw}}
        </li>

        <li>
            {{'about.section2.valueEnvironment'|trans|raw}}
        </li>

        <li>
            {{'about.section2.valueCulturalSharing'|trans|raw}}
        </li>

        <li>
            {{'about.section2.valueExcellence'|trans|raw}}
            {{'about.section2.conclusionText'|trans|raw}}
        </li>
    </ul>
    <p>
        {{'about.section2.conclusionText'|trans|raw}}
    </p>
</section>

{% endblock %}
