{% extends 'base.html.twig' %}


{% block title %}Accueil {{parent()}}{% endblock %}
{% block mainClass %}home{% endblock %}
{% block body %}

    <section class="header">
        <video loop autoplay muted poster='{{asset('images/gpcpromo_poster.png')}}'>
            <source src="{{ asset('video/gpcpromo_compress.mp4') }}" type="video/mp4">
        </video>
        <div class="header__info">
            <h1>Guadeloupe passion Caraïbe</h1>
            <p class="subtitle">Agence receptive des îles de Guadeloupe</p class="subtitle">
            <div class="btn_container">
                <a href="{{path('app_reservation')}}" class="button__primary" >Réserver mon voyage</a>
                {# <a href="#offers" class="button__secondary" >Voir les offres</a> #}
            </div>
        </div>
    </section>

    <section class="service">
        <h2>Vous recherchez un service touristique pour vos vacances en guadeloupe ?</h2>
        <div class="service__cards">
            <twig:ServiceCard 
                serviceIcon="cbi:roomsoutdoor"
                service='Activités et excurtions'
                description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, minus.'
                target="#activite"
                ctaTitle='Découvrir'
            />
            <twig:ServiceCard 
                serviceIcon="bi:house-fill"
                service='Hebergement'
                description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, minus.'
                target="#hebergement"
                ctaTitle='Découvrir'
            />
            <twig:ServiceCard 
                serviceIcon="bi:car-front-fill"
                service='Transport et transfers'
                description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, minus.'
                target="#transport"
                ctaTitle='Découvrir'
            />

            {# <twig:ServiceCard />
            <twig:ServiceCard /> #}
        </div>
    </section>


    <section class="activite" id="activite">

        <h2>Que faire en Guadeloupe ?</h2>
        <p></p>
        <div class="activite__container">
            <div class="activite__imgGrid">
                <div class="activite__img" id="activite__img1"></div>
                <div class="activite__img" id="activite__img2"></div>
                <div class="activite__img" id="activite__img3"></div>
                <div class="activite__img" id="activite__img4"></div>
                <div class="activite__img" id="activite__img5"></div>
            </div>
            <div class="activite__info">
                <h3>Nos activités de loisir et nos excurtions</h3>
                <p>
                    Guadeloupe passion caraïbe, concepteur de loisirs interactifs, promeut l'authenticité guadeloupeenne en proposant aux visiteurs de faire des loisirs inedits et vivre des experience innoubliable au cour des excurtions.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, maxime.
                </p>
            </div>
        </div>
        
        <twig:ActivitieSwitch />


    </section>

    <twig:CtaBan 
        title=""
        ctaTitle=""
    />


    <section class="hebergement" id="hebergement">

        <h2>Vous souhaitez un hebergement ?</h2>
        <div class="hebergement__container">
            <div class="hebergement__imgGrid">
                <div class="hebergement__img" id="hebergement__img1"></div>
                <div class="hebergement__img" id="hebergement__img2"></div>
            </div>

            <div class="hebergement__info">

                <div class="hebergement__infoblock">
                    <h3>Notre selection d'hotel dans les îles de guadeloupe</h3>
                    <ul 
                    >
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>

                    <a 
                        href='{{asset("documents/hotel-partenaire-GPC.pdf")}}'
                        class="cta"
                        >
                        Telecharger notre guide {{ ux_icon('si:arrow-right-fill') }}
                    </a>

                </div>

                <div class="hebergement__infoblock">
                    <h3>Des hebergements privé dans toutes les iles de l'archipel</h3>
                    <ul >
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <a 
                        {# href=""  #}
                        class="cta"
                        href='{{asset("documents/hebergement-prive-GPC.pdf")}}'
                        >
                        Telecharger notre guide {{ ux_icon('si:arrow-right-fill') }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <twig:CtaBan 
        titre=""
        ctaTitre=""
    />


    <section id="transport" class="transport" >
        
        <div class="transport__infos">
            <h2>Un transport ou un transfert ?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis?</p>
            <a class="button__secondary" href="https://ew21596948.web.app/?providerID=5438bb9a">En Woute WebApp</a>
        </div>

        <div class="transport__canvas">
            <div class="canvas__grid">
                <div class="canvas__img" id="canvas__img1"></div>
                <div class="canvas__img" id="canvas__img2"></div>
                <div class="canvas__img" id="canvas__img3"></div>
            </div>
        </div>


    </section>

{% endblock %}
