{% extends 'base.html.twig' %}
{% trans_default_domain 'accueil' %}

{% block keyWord %}
    {{'accueil.seo.kw'|trans}}
{% endblock %}
{% block desc %}
        {{'accueil.seo.metadesc'|trans}}
{% endblock %}


{% block title %} {{ 'accueil.seo.title'|trans }} {{parent()}}{% endblock %}
{% block mainClass %}home{% endblock %}
{% block body %}

{{parent()}}
    <section class="header"  aria-label="Header section" aria-describedby="header-description">
        {% for message in app.flashes('success_form') %}

            <twig:Flash
                type="success_form"
                message="{{message|trans()}}"
            />
        {% endfor %}
        {% for message in app.flashes('success_resa') %}

            <twig:Flash
                type="success_form"
                message="{{message|trans()}}"
            />
        {% endfor %}


        <video loop autoplay muted poster='{{asset('images/gpcpromo_poster.jpg') }}' aria-hidden="true">
            <source src="{{ asset('video/gpcpromo_compress_candy.mp4') }}" type="video/mp4">
        </video>
        <div class="header__info" >
            <h1 id="app-title">{{ 'accueil.titre'|trans }}</h1>
            {# <p class="subtitle">Agence réceptive des îles de Guadeloupe</p class="subtitle"> #}
            <p id="header-description" class="subtitle">{{ 'accueil.header.titre'|trans }}</p class="subtitle">
            <div class="btn_container">
                <a href="{{path('app_reservation')}}" class="button__primary" >{{ 'accueil.header.cta'|trans }}</a>
                {# <a href="#offers" class="button__secondary" >Voir les offres</a> #}
            </div>
        </div>
    </section>


    <section class="service" aria-labelledby="service-section">
        <h2 id='service-section'>{{ 'accueil.section.services.title'|trans }}</h2>
        <div class="service__cards" role="list" aria-label="Nos services" >
            <twig:ServiceCard 
                serviceIcon="cbi:roomsoutdoor"
                service='accueil.section.services.cards.activities_title'
                description='accueil.section.services.cards.activities_description'
                target="#activite"
                ctaTitle='accueil.section.services.cards.activities_cta'
                
            />
            <twig:ServiceCard 
                serviceIcon="bi:house-fill"
                service='accueil.section.services.cards.accommodation_title'
                description='accueil.section.services.cards.accommodation_description'
                target="#hebergement"
                ctaTitle='accueil.section.services.cards.accommodation_cta'
            />
            <twig:ServiceCard 
                serviceIcon="bi:car-front-fill"
                service='accueil.section.services.cards.transport_title'
                description='accueil.section.services.cards.transport_description'
                target="#transport"
                ctaTitle='accueil.section.services.cards.transport_cta'
            />

            {# <twig:ServiceCard />
            <twig:ServiceCard /> #}
        </div>
    </section>

    {% if offer is not null %}
        
        <twig:offerBan 
            titre="accueil.banniereOffre.titre"
            text="accueil.banniereOffre.text"
            ctaTitre="accueil.banniereOffre.cta"
        />
    {% endif %}

    <section class="activite" id="activite" aria-labelledby="activities-section">

        <h2 id='activities-section'>{{ "accueil.section.activite.title"|trans }}</h2>

        <div class="activite__container">
            <div class="activite__imgGrid" aria-hidden="true">
                <div class="activite__img" id="activite__img1"></div>
                <div class="activite__img" id="activite__img2"></div>
                <div class="activite__img" id="activite__img3"></div>
                <div class="activite__img" id="activite__img4"></div>
                <div class="activite__img" id="activite__img5"></div>
            </div>
            <div class="activite__info">
                <h3>{{ "accueil.section.activite.info.titre"|trans }}</h3>
                <p>
                    {{ "accueil.section.activite.info.para"|trans|raw }}
                </p>

            </div>
        </div>
        
        <twig:ActivitieSwitch />


    </section>

    <twig:CtaBan 
        titre="accueil.banniereCta1.titre"
        text="accueil.banniereCta1.text"
        ctaTitre="accueil.banniereCta1.cta"
    />


    <section class="hebergement" id="hebergement" aria-labelledby="herbergement-section">

        <h2 id="herbergement-section">{{ "accueil.section.hebergement.title"|trans }}</h2>
        <div class="hebergement__container" id='hotel'>
            <div class="hebergement__imgGrid">
                <div class="hebergement__img" id="hebergement__img1"></div>
                <div class="hebergement__img" id="hebergement__img2"></div>
            </div>

            <div class="hebergement__info" >

                <div class="hebergement__infoblock">
                    <h3>{{ "accueil.section.hebergement.hotel.title"|trans }}</h3>
                    <ul>
                        <li>{{ "accueil.section.hebergement.hotel.arg1"|trans }}</li>
                        <li>{{ "accueil.section.hebergement.hotel.arg2"|trans }}</li>
                        <li>{{ "accueil.section.hebergement.hotel.arg3"|trans }}</li>
                    </ul>

                    <a 
                        href='{{asset("documents/hotel-partenaire-GPC.pdf")}}'
                        class="cta"
                        >
                        {{ "accueil.section.hebergement.hotel.cta"|trans }} {{ ux_icon('si:arrow-right-fill') }}
                    </a>

                </div>

            </div>
        </div>


        <div class="hebergement__container" id="villa" >


            <div class="hebergement__info">


                <div class="hebergement__infoblock">

         
                    <h3>{{ "accueil.section.hebergement.villa.title"|trans }}</h3>
                    <ul>
                        <li>{{ "accueil.section.hebergement.villa.arg1"|trans }}</li>
                        <li>{{ "accueil.section.hebergement.villa.arg2"|trans }}</li>
                        <li>{{ "accueil.section.hebergement.villa.arg3"|trans }}</li>
                    </ul>

                    <a 
                        href='{{asset("documents/hebergement-prive-GPC.pdf")}}'
                        class="cta"
                        >
                        {{ "accueil.section.hebergement.hotel.cta"|trans }} {{ ux_icon('si:arrow-right-fill') }}
                    </a>
                </div>
            </div>

            <div class="hebergement__imgGrid" id="villaGrid">
                <div class="hebergement__img" id="villa__img1"></div>
                <div class="hebergement__img" id="villa__img2"></div>
            </div>
        </div>
    </section>

    <twig:CtaBan 
        titre="accueil.banniereCta2.titre"
        text="accueil.banniereCta2.text"
        ctaTitre="accueil.banniereCta2.cta"
    />

    <section id="transport" class="transport" aria-labelledby="transfert-section">
        
        <div class="transport__infos">
            <h2 id="transfert-section">
                {{ "accueil.section.transport.title"|trans }}
            </h2>
            <p>
                {{ "accueil.section.transport.para"|trans|raw }}
            </p>
            <ul>
                <li>
                    <p>
                        {{ "accueil.section.transport.arg1"|trans }}
                    </p>
                </li>
                <li>
                    <p>
                        {{ "accueil.section.transport.arg2"|trans }}
                    </p>
                </li>
                <li>
                    <p>
                        {{ "accueil.section.transport.arg3"|trans }}
                    </p>
                </li>
            </ul>
            <p>
                {{ "accueil.section.transport.cta1"|trans|raw }}
            </p>
            <a class="button__secondary" href="https://ew21596948.web.app/?providerID=5438bb9a">
                {{ "accueil.section.transport.cta2"|trans }}
            </a>
        </div>

        <div class="transport__canvas">
            <div class="canvas__grid">
                <div class="canvas__img" id="canvas__img1"></div>
                <div class="canvas__img" id="canvas__img2"></div>
                <div class="canvas__img" id="canvas__img3"></div>
            </div>
        </div>


    </section>



    {% if offer is not null %}


        <section  id="offer" aria-labelledby="offer-section">

            <h2 id="offer-section">Offre exclusive :  {{offer.titre}}</h2>

            <p class="offer__subtext">Profitez d'une offre toute comprise, à ne pas manquer !</p>

            <div class="offer__container">
                <div class="offer__packs">
                    <div id="pack1" class="offer__pack">
                        <h2 class="pack__titre">Pack Promo 1</h2>
                        <p class="pack__price">{{(offer.pack2.prix / 100)|round(2, 'floor')}} €</p>
                        <ul class="pack__content">
                            {% for item in offer.pack1.contenu %}
                                
                                <li>{{item}}</li>
                            {% endfor %}
                        </ul>
                        <a class=" button__primary pack__link" href="{{offer.pack1.lien}}">J'en profite</a>
                    </div>

                    <div id="pack2" class="offer__pack">
                        <h2 class="pack__titre">Pack Promo 2</h2>
                        <p class="pack__price">{{(offer.pack2.prix / 100)|round(2, 'floor')}} €</p>
                        <ul class="pack__content">
                            {% for item in offer.pack2.contenu %}
                                
                                <li>{{item}}</li>
                            {% endfor %}
                        </ul>

                        <a class=" button__primary pack__link" href="{{offer.pack2.lien}}">J'en profite</a>
                    </div>
                    
                </div>
                <div class="offer__imgcontainer">
                    <img src="uploads/images/promotions/{{offer.image}}" alt="">
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
