{% extends 'base.html.twig' %}

{% block keyWord %}
    Réserver voyage Guadeloupe, réservation activités, séjour archipel.
{% endblock %}
{% block desc %}
    Réservez vos vacances en Guadeloupe facilement : hébergements, excursions, activités et services personnalisés.
{% endblock %}

{% block stylesheet %}
    {{parent()}}
{% endblock %}

{% block title %}Reservation {{parent()}}{% endblock %}




{% block mainClass %}reservation{% endblock %}
{% block body %}
{{parent()}}
    <div class="reservation-header">
        <h1>Réservez votre voyage</h1>
    </div>
{# Bar de progression #}
{# <div class="progress__container"> #}
    {# <twig:Progressbar /> #}
{# </div> #}

{# sub-titre #}
<turbo-frame id="sub-titre">
    <h2>
        Information de contact
    </h2>
</turbo-frame>


{# formulaire #}
<turbo-frame id="reservationForm">
    {{form_start(form,{
            action: path('app_reservation_confirm'),
            attr: {
                'class':'confirmationform'
                }
            })}}


        <div class="confirmation__section">
            <h3 class="confirmation__section-titre">Informations personnelles</h3>
            <div class="confirmation__field">
                <p class="confirmation__label">Nom</p>
                <p class="confirmation__value">{{ sejour.nom }}</p>
            </div>
            <div class="confirmation__field">
                <p class="confirmation__label">Prénom</p>
                <p class="confirmation__value">{{ sejour.prenom }}</p>
            </div>
            <div class="confirmation__field">
                <p class="confirmation__label">Nationalité</p>
                <p class="confirmation__value">{{ sejour.nationalite }}</p>
            </div>
        </div>

        <div class="confirmation__section">
            <h3 class="confirmation__section-titre">Coordonnées</h3>
            <div class="confirmation__field">
                <p class="confirmation__label">Adresse</p>
                <p class="confirmation__value">{{ sejour.adresse1 }}</p>
            </div>
            <div class="confirmation__field">
                <p class="confirmation__label">Complément d'adresse</p>
                <p class="confirmation__value">{{ sejour.adresse2 }}</p>
            </div>
            <div class="confirmation__field">
                <p class="confirmation__label">Téléphone</p>
                <p class="confirmation__value">{{ sejour.telephone }}</p>
            </div>
        </div>

        <div class="confirmation__section">
            <h3 class="confirmation__section-titre">Détails du séjour</h3>
            <div class="confirmation__field">
                <p class="confirmation__label">Période</p>
                <p class="confirmation__value">
                    {% set periode_parts = sejour.periode|split(' to ') %}
                    {% set date_debut = periode_parts[0]|date('d F Y') %}
                    {% set date_fin = periode_parts[1]|date('d F Y') %}
                    du {{ date_debut|replace({'January': 'janvier', 'February': 'février', 'March': 'mars', 'April': 'avril', 'May': 'mai', 'June': 'juin', 'July': 'juillet', 'August': 'août', 'September': 'septembre', 'October': 'octobre', 'November': 'novembre', 'December': 'décembre'}) }}
                    au
                    {{ date_fin|replace({'January': 'janvier', 'February': 'février', 'March': 'mars', 'April': 'avril', 'May': 'mai', 'June': 'juin', 'July': 'juillet', 'August': 'août', 'September': 'septembre', 'October': 'octobre', 'November': 'novembre', 'December': 'décembre'}) }}</p>
            </div>
            <div class="confirmation__field">
                <p class="confirmation__label">Lieux</p>
                {% if sejour.lieux|length > 1  %}
                    <ul class="confirmation__value">
                        {% for lieu in sejour.lieux %}
                            <li>
                                {{ lieu|replace({'_': ' '})|capitalize }} 
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    
                    <p class="confirmation__value">
                        {{ sejour.lieux[0]|replace({'_': ' '})|capitalize }} 
                    </p>
                {% endif %}
            </div>
            <div class="confirmation__field">
                <p class="confirmation__label">Durée</p>
                {% if sejour.duree|length > 1  %}
                    <ul class="confirmation__value">
                        {% for duree in sejour.duree %}
                            <li>
                                {{ duree|replace({'_': ' '})|capitalize }} 
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    
                    <p class="confirmation__value">
                        {{ sejour.duree[0]|replace({'_': ' '})|capitalize }} 
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="confirmation__section">
            <h3 class="confirmation__section-titre">Produits et services</h3>
            <div class="confirmation__field">
                <p class="confirmation__label">Produit / Service</p>
                {% if sejour.produits_service|length > 1  %}
                    <ul class="confirmation__value">
                        {% for produit in sejour.produits_service %}
                            <li>
                                {{ produit|replace({'_': ' '})|capitalize }} 
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    
                    <p class="confirmation__value">
                        {{ sejour.produits_service[0]|replace({'_': ' '})|capitalize }} 
                    </p>
                {% endif %}
            </div>
            

            <div class="confirmation__field">
                <p class="confirmation__label">Budget</p>
                <p class="confirmation__value">
                    {{ sejour.budget|replace({'_': ' '})|capitalize }}
                </p>
            </div>
        </div>

        <div class="field__container confirmationform" >
            {{form_label(form.confirmation)}}
            {{form_widget(form.confirmation)}}
            {{form_errors(form.confirmation)}}
        </div>

        <div class="bouton__container">
            <a class="cta" href="{{path('app_reservation_trip')}}">Précédent</a>
            <button type="submit" class="button__primary validation" data-turbo="false">Valider</button>
        </div>
    {{form_end(form)}}
</turbo-frame>



{# formulaire #}

{% endblock %}
