{% extends 'base.html.twig' %}

{% block title %}Reservation {{parent()}}{% endblock %}

{% block mainClass %}reservation{% endblock %}

{% block body %}
{{parent()}}
    <div class="reservation-header">
        <h1>Réservez votre voyage</h1>
    </div>
{# Bar de progression #}
{# <div class="progress__container"> #}
    {# <twig:Progressbar /> #}
{# </div> #}

{# sub-title #}
<turbo-frame id="sub-title">
    <h2 >
        Votre prevision de séjour
    </h2>
</turbo-frame>



{# formulaire #}
<turbo-frame id="reservationForm">

    {{form_start(form,{action: path('app_reservation_trip')})}}

 
        {# <div> #}
            {# {{form_label(form.periode)}} #}
            {{form_row(form.periode)}}
        {# </div> #}

        <div class="field__container">
            {{form_label(form.lieux)}}
            <div class="field__radiosContainer">
                {% for radio in form.lieux.children %}
                    <div class="field__radios">
                        {{form_widget(radio)}}
                        {{form_label(radio)}}
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="field__container">
            {{form_label(form.duree)}}
            <div class="field__radiosContainer">
                {% for radio in form.duree.children %}
                    <div class="field__radios">
                        {{form_widget(radio)}}
                        {{form_label(radio)}}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="field__container">
            {{form_label(form.produits_service)}}
            <div class="field__radiosContainer">
                {% for radio in form.produits_service.children %}
                    <div class="field__radios">
                        {{form_widget(radio)}}
                        {{form_label(radio)}}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="field__container">
            {{form_label(form.budget)}}
            {{form_widget(form.budget)}}
        </div>


        <div class="bouton__container">
            <a class="cta" data-turbo="false" href="{{path('app_home')}}">Retour</a>
            <button type="submit" class="button__primary" data-turbo="false">Suivant</button>
        </div>
    {{form_end(form)}}
</turbo-frame>




{# formulaire #}
{% endblock %}
