{% extends 'base.html.twig' %}
{% block keyWord %}
    Contact Guadeloupe, agence voyage Guadeloupe, assistance réservation. 
{% endblock %}
{% block desc %}
    Contactez Guadeloupe Passion Caraïbes pour organiser vos vacances : assistance personnalisée, réservations et informations sur nos services.
{% endblock %}
{% block title %}Contact{% endblock %}
{% block mainClass %}contact{{parent()}}{% endblock %}

{% block body %}
{{parent()}}
    <h1>Contactez Guadeloupe Passion Caraïbe</h1>
    <p>
        Vous avez une question, une demande particulière ou souhaitez organiser votre prochain voyage ? 
        Remplissez le formulaire ci-dessous, et notre équipe vous répondra dans les plus brefs délais.
    </p>


{{form_start(form)}}
    {{form_row(form.nom)}}
    {{form_row(form.email)}}
    {{form_row(form.message)}}
    <div>
            <button class="button__primary" type="submit">Envoyer</button>
    </div>


{{form_end(form)}}
{% endblock %}
