<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="{% block keyWord %}{% endblock %}">
        <meta name="description" content="{% block desc %}{% endblock %}">
        <meta name="geo.region" content="GP" />
        <meta name="geo.placename" content="Guadeloupe" />
        <meta name="geo.position" content="16.265;-61.551" />
        <meta name="ICBM" content="16.265, -61.551" />
        <title>{% block title %} | Guadeloupe Passion Caraïbes{% endblock %}</title>
        {#? ====== favicon ====  #}
        <link rel="apple-touch-icon" sizes="57x57" href="{{asset("favicon/apple-icon-57x57.png")}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{asset("favicon/apple-icon-60x60.png")}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{asset("favicon/apple-icon-72x72.png")}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{asset("favicon/apple-icon-76x76.png")}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{asset("favicon/apple-icon-114x114.png")}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{asset("favicon/apple-icon-120x120.png")}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{asset("favicon/apple-icon-144x144.png")}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{asset("favicon/apple-icon-152x152.png")}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset("favicon/apple-icon-180x180.png")}}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{asset("favicon/android-icon-192x192.png")}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset("favicon/favicon-32x32.png")}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{asset("favicon/favicon-96x96.png")}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset("favicon/favicon-16x16.png")}}">
        <link rel="manifest" href="{{asset("favicon/manifest.json")}}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{asset("favicon/ms-icon-144x144.png")}}">
        <meta name="theme-color" content="#ffffff">
        {#? ====== ------- ====  #}
        
        {% block stylesheets %}
            {# <link rel="stylesheet" href="{{ asset('styles/app.scss') }}"> #}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body
        data-controller="back-to-top" 
        data-back-to-top-class="back-to-top-container--intersecting"
        class="back-to-top-container--intersecting"
    >
        <div class="flag__container" {{stimulus_controller('localchanger')}}>
            {% set flags = {
                'en': 'flag-england',
                'fr': 'flag-france',
                'es': 'flag-spain',
            } %}

            <div class="flag__actual__container" {{stimulus_action('localchanger','toggleOpen','click')}}>
                {{ ux_icon('twemoji:' ~ flags[app.session.get('_locale')],{'class':'flag'})}} 
            </div>
            <div class="flag__dropdown">

                {% set count = 1 %}
                {% for locale, flag in flags %}
                    {% if locale != app.session.get('_locale') %}
                        <a 
                            {% if app.current_route is same as 'app_catalogue' %}
                                
                                href="{{path(app.current_route,{'type' : type,'_locale': locale})}}"
                            {% else %}
                                
                                href="{{path(app.current_route,{'_locale': locale})}}"
                            {% endif %}
                            data-turbo="false"
                            {# target="_top" #}
                            id="flag{{count}}"
                            class="flag__changeLang"
                            {{stimulus_target('localchanger','flag' ~ count )}}
                        >

                            {{ ux_icon('twemoji:' ~ flag, {'class':'flag'}) }}
                        </a>
                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        <header >
            {# <turbo-frame id="navigation" data-turbo-action="advance"> #}
                <twig:Navbar 
                    route="{{app.current_route}}"
                    data-turbo-permanent
                />
                {% if app.user %}
                    
                    <div class="dashboard">
                        <a href="{{path('admin')}}" class="button__dashboard">Acceder au Dashboard</a>
                    </div>
                {% endif %}
            {# </turbo-frame> #}
            {% block header %}
                
            {% endblock %}
        </header>
        
            <main class="{% block mainClass %}{% endblock %}" >
                {% if modalOnPage is defined %}
                        <twig:ModalContainer />
                    {% endif %}
                        <twig:BackToTop />
                {% block body %}
                    <div class="modalmobile" {{stimulus_controller('modalmanager')|stimulus_target('modalmanager', 'modal')|stimulus_action('modalmanager','openModal','responsivnav:getModalEvent@window')|stimulus_action('modalmanager','showOnlyOnMobile','resize@window')}}>
                        <div class="modalmobile__container">
                            {{ ux_icon('iconamoon:close-bold',{'class':'close', 'data-action':'click->modalmanager#closeModal'}) }}
                            <div class="logo">
                                
                                <a href="{{path('app_home')}}">
                                    <img src="{{asset('./images/GPC-logo.png')}}" alt="logo Guadeloupe passtion caraibe">
                                    
                                </a>
                            </div>
                            <div class="modalmobile__link">
                                <a class='navLink' href="{{path('app_home')}}">Accueil</a>
                                <a class='navLink' href="{{path('app_reservation')}}">Reservation</a>
                                <a class='navLink' href="{{path('app_about')}}">À propos</a>
                                <a class='navLink' href="{{path('app_contact')}}">Contact</a>
                                
                            </div>

                        </div>
                    </div>

                {% endblock %}
            </main>
        {# <footer > #}
            <twig:Footer 
                data-turbo-permanent
            />
            
        {# </footer> #}
    </body>
</html>


