

    <p>Bonjour {{ infoSejour.nom }},</p>
<br>
    <p>Nous avons bien reçu votre réservation chez <strong>Guadeloupe Passion Caraïbes</strong>.</p>
    <br>
    <p>
        Dans un délais de 72h, vous recevrez un document de voyage présentant les prestations sollicitées, accompagné d'un devis détaillé des dîtes prestations
    </p>
<br>
    <p> Voici un récapitulatif de votre séjour :</p>
    <ul>
        <li><strong>Date d'arrivée :</strong> {{ infoSejour.date_arrivee|date('d/m/Y') }}</li>
        <li><strong>Date de départ :</strong> {{ infoSejour.date_depart|date('d/m/Y') }}</li>
        <li><strong>Nombre de personnes :</strong> {{ infoSejour.nb_personnes }}</li>
        <li><strong>Hébergement :</strong> {{ infoSejour.hebergement }}</li>
    </ul>
<br>
    <p>
        Si vous avez des questions ou souhaitez apporter des modifications, n’hésitez pas à nous contacter à l’adresse suivante : <a href="mailto:contact@guadeloupepassioncaraibes.com">contact@guadeloupepassioncaraibes.com</a>.
    </p>
    
    <p>Nous sommes impatients de vous accueillir dans notre archipel !</p>
    
    <p>
        Cordialement,
        <br>
        téléphone : +590690376161
        email: contact@guadeloupepassioncaraibes.com
        <br>
        <a href="https://guadeloupepassioncaraibes.fr">
            guadeloupepassioncaraibes.fr
        </a>
        <br>
        <a href="https://guadeloupepassioncaraibes.fr">
            Guadeloupe Passion Caraïbes
        </a>
    </p>
</body>

