
    <h1>Nouvelle réservation reçue</h1>
    <p>Bonjour,</p>
    <p>Une nouvelle réservation a été effectuée. Voici les détails :</p>
    
    <ul>
        <li><strong>Nom du client :</strong> {{ sejourInfo.nom }}</li>
        <li><strong>Email :</strong> {{ sejourInfo.email }}</li>
        <li><strong>Numéro de téléphone :</strong> {{ sejourInfo.telephone }}</li>
        <li><strong>Nombre de personnes :</strong> {{ sejourInfo.nb_personnes }}</li>
        <li><strong>Date d'arrivée :</strong> {{ sejourInfo.date_arrivee|date('d/m/Y') }}</li>
        <li><strong>Date de départ :</strong> {{ sejourInfo.date_depart|date('d/m/Y') }}</li>
    </ul>
    
    <p>Merci de vérifier les informations et d'intégrer cette réservation dans le CRM.</p>

    <p>Cordialement,<br>
    Guadeloupe Passion Caraïbes</p>

