<div{{ attributes }}
    class="bannierCta"
>
{% trans_default_domain 'accueil' %}
    <!-- component html -->

    <h2>
        {{titre|trans}}
    </h2>
    <p>
        {{text|trans|raw}}
    </p>
    <a 
        class="button__secondary"
        href="{{path('app_reservation')}}"
    >
        {{ctaTitre|trans}}
    </a>
</div>
