{% trans_default_domain 'accueil' %}
<section{{ attributes }}
    class="bannierCta"
    
    aria-labelledby="title-cta-{{ titre|trans|slug('-') }}"
>

    <!-- component html -->

    <h2 id="title-cta-{{ titre|trans|slug('-') }}">
        {{ titre|trans }}
    </h2>
    <p>
        {{text|trans|raw}}
    </p>
    <a 
        class="button__secondary"
        href="{{path('app_reservation')}}"
    >
        {{ctaTitre|trans}}
    </a>
</section>
