<footer{{ attributes }}>
    <!-- component html -->
    {% trans_default_domain 'footer' %}
    <div class="footer__container">
        <div class="footer__logo">
            <img class='logo' src="{{asset('./images/GPC-logo.png')}}" alt="Logo de guadeloupe passion caraïbe">
            
        </div>

        <div class="footer__nav">
            
            <a href="{{path('app_home')}}">{{ "footer.column1.link1"|trans }}</a>
            <a href="{{path('app_about')}}">{{ "footer.column1.link2"|trans }}</a>
            <a href="{{path('app_contact')}}">{{ "footer.column1.link3"|trans }}</a>
        </div>

        <div class="footer__nav">
            <a href="{{asset('./documents/Mentions_legal_gpc.pdf')}}" download>{{ "footer.column2.link1"|trans }}</a>
            <a href="">{{ "footer.column2.link2"|trans }}</a>
        </div>
    </div>

</footer>
