
<div {{ attributes }} class="flag__container">
    {% set flags = {
        'en': 'flag-england',
        'fr': 'flag-france',
        'es': 'flag-spain'
    } %}

    {{ ux_icon('twemoji:' ~ flags[currentLocale],{'class':'flag'})}} 
    <div class="flag__dropdown">
        <div class="flag__container actual">
            {# <div class="flag__container actual"> #}
                {{ ux_icon('twemoji:' ~ flags[currentLocale], {'class':'flag'}) }}
            {# </div> #}
        </div>
        {% for locale, flag in flags %}
            {% if locale != currentLocale %}
            <button 
                {{ live_action('switchLocale', {'locale': locale }) }}
                {# class="flag__container"
                data-action="live#switchLocale" #}
                data-live-switchLocale-param="{{ locale }}"
                >

                {{ ux_icon('twemoji:' ~ flag, {'class':'flag'}) }}
            </button>
            {% endif %}
        {% endfor %}

    </div>
</div>
