<div{{ attributes.defaults(stimulus_controller('modal_manager')|stimulus_action('modal_manager','openModal','product_detail:openDetailModal@window')|stimulus_action('modal_manager','closeModal','click')) }}
    class="modal__container {{modal_isOpen ? "open" : "close" }}"
    
>

    {% if modal_isOpen and modal == "product_modal" %}
        

        <div
            
            class="product__modal"
        >


            <div class="modal__close-container" {{stimulus_action('modal_manager','closeModal','click')}}>
                {{ ux_icon('mingcute:close-fill',{'class':'modal__close-icone'}) }}  
            </div>

            <div class="content__container">

                <div class="content__img">
                    <img src="/uploads/images/{{data.mode}}/{{data.image}}" alt="">
                </div>
                <h3 class="content__title">{{data.titre}}</h3>

                <div class="content__description">
                    {{data.description|raw}}
                </div>

                {# <a href="{{path('app_reservation',{"target_activites" : data.id})}}" class='button__primary'>Je participe</a> #}
                <div id="ConstellationButtonContainer0d860e75-d08f-400a-b206-42f8091ba6f2" style="width:100%; text-align:center;" title="Guadeloupe Passion Caraibes" data-id-projet='0d860e75d08f400ab20642f8091ba6f2'>Chargement en cours...</div><script type="text/javascript" src="https://reservation.elloha.com/Scripts/widget-loader.min.js?v=42"></script><script type="text/javascript">var constellationWidgetUrl0d860e75d08f400ab20642f8091ba6f2, constellationTypeModule0d860e75d08f400ab20642f8091ba6f2; constellationWidgetUrl0d860e75d08f400ab20642f8091ba6f2 = 'https://reservation.elloha.com/Widget/BookingButton/0d860e75-d08f-400a-b206-42f8091ba6f2?idoi=475d4b08-e679-4f8e-adc8-3379e509fc60&culture=fr-FR'; constellationTypeModule0d860e75d08f400ab20642f8091ba6f2=3; constellationBookingButtonLoad('ConstellationButtonContainer0d860e75-d08f-400a-b206-42f8091ba6f2');</script>
                
            </div>
        
        </div>
        {% else %}
        
    {% endif %}
    
</div>
