
{#todo flex-r-b-c p7.5    #}

<nav 
    {{ attributes.defaults(
        stimulus_controller('responsivnav')
        |stimulus_action( 'responsivnav','setMobileValue','resize@window')
        ) }}
    class='nav'
    
    >
      {% trans_default_domain 'navigation' %}
        <aside class="bandeau-contact"  aria-label="contact informations">
            {# <p> Ouvert ° (ferme a 19h)</p> #}
            <twig:Horaires 
                role="group"
                aria-label="opening hours"
            />
            <div role="menu" aria-label="contact data">
                <a href="tel:+590690376161" role="menuitem" aria-label="+590690376161" title="Nous appeler">
                    <p> 
                        <twig:ux:icon name="ic:baseline-whatsapp" class='horaireIcon' aria-hidden="true"/> 0690.37.61.61
                    </p>
                </a>
                <a href="mailto:contact@guadeloupepassioncaraibes.com" role="menuitem" aria-label=" contact@guadeloupepassioncaraibes.com" title="Nous contacter par mail">
                    <p>
                        <twig:ux:icon name="material-symbols-light:mail-outline-rounded" class='horaireIcon' aria-hidden="true"/> Nous écrire
                    </p>
                </a>
            </div> 
        </aside>
    {% set currentLocale = app.session.get('_locale') %}
        {% set flags = {
        'en': 'flag-england',
        'fr': 'flag-france',
        'es': 'flag-spain'
    } %}
  
       
        {% if loading == false %}


            <a href="{{path('app_home')}}" title="Aller sur la page d'accueil" class="logo__container" >
                    <img  src="{{asset('./images/GPC-logo.png')}}" alt="logo Guadeloupe Passion Caraïbe" class="logo" aria-hidden="true"/>
            </a>
            
            {% if isMobile is not same as true %}
                

                {#todo flex-r-b-c p7.5   #}
                <div class="nav__links " role="menu" aria-label="navigation link" >
                
                    <a role="menuitem" href="{{path('app_home')}}" class="nav__link" title="Aller sur la page d'accueil">
                        {{'nav.desktop.link1'|trans}}
                    </a>
                    <a role="menuitem" href="{{path('app_contact')}}"    class="nav__link" title="Aller sur la page contact">
                        {{'nav.desktop.link2'|trans}}
                    </a>
                    <a role="menuitem" href="{{path('app_about')}}"  class="nav__link" title="Aller sur la page à propos">
                        {{'nav.desktop.link3'|trans}}
                    </a>
                </div>



                    {#todo btn to turbo add modal-form-etape #}

                    <a href="{{path('app_reservation')}}" class="nav__cta button__nav " title="Acceder au formulaire de reservation">{{'nav.desktop.cta'|trans}}</a>

            {% else %}
                
                <div class="nav__burger" {{stimulus_action('responsivnav','getNavModal','click')}}>
                    {{ ux_icon('mingcute:menu-fill',{'class':'nav__burger'})}} 

                </div>

            {% endif %}
        {% endif %}
</nav>

