
{#todo flex-r-b-c p7.5    #}

<nav 
    {{ attributes.defaults(
        stimulus_controller('responsivnav')
        |stimulus_action( 'responsivnav','setMobileValue','resize@window')
        ) }}
    class='nav'
    
    >
      {% trans_default_domain 'navigation' %}
        <div class="bandeau-contact">
            {# <p> Ouvert ° (ferme a 19h)</p> #}
            <twig:Horaires />
            <div>
                <a href="tel:+590690376161"><p> <twig:ux:icon name="ic:baseline-whatsapp" class='horaireIcon'/> 0690.37.61.61</p></a> <a href="mail:contact@guadeloupepassioncaraibes.com"><p><twig:ux:icon name="material-symbols-light:mail-outline-rounded" class='horaireIcon'/> contact@guadeloupepassioncaraibes.com</p></a>
            </div> 
        </div>
    {% set currentLocale = app.session.get('_locale') %}
        {% set flags = {
        'en': 'flag-england',
        'fr': 'flag-france',
        'es': 'flag-spain'
    } %}
  
       
        {% if loading == false %}


            <div class="logo__container">
                    <img src="{{asset('./images/GPC-logo.png')}}" alt="logo Guadeloupe Passion Caraïbe" class="logo"/>
            </div>
            
            {% if isMobile is not same as true %}
                

                {#todo flex-r-b-c p7.5   #}
                <div class="nav__links ">
                
                    <a href="{{path('app_home')}}"  class="nav__link">{{'nav.desktop.link1'|trans}}</a>
                    <a href="{{path('app_contact')}}"    class="nav__link">{{'nav.desktop.link2'|trans}}</a>
                    <a href="{{path('app_about')}}"  class="nav__link">{{'nav.desktop.link3'|trans}}</a>
                </div>



                    {#todo btn to turbo add modal-form-etape #}

                    <a href="{{path('app_reservation')}}" class="nav__cta button__nav ">{{'nav.desktop.cta'|trans}}</a>

            {% else %}
                
                <div class="nav__burger" {{stimulus_action('responsivnav','getNavModal','click')}}>
                    {{ ux_icon('mingcute:menu-fill',{'class':'nav__burger'})}} 

                </div>

            {% endif %}
        {% endif %}
</nav>

