{% trans_default_domain 'accueil' %}
<div{{ attributes }}
    class="card__container"
>
    <!-- component html -->

    <div class="card">


        
        {{ ux_icon(serviceIcon,{'class':'card__icon' }) }}
        <h3>{{ service|trans }}</h3>
        <p>{{ description|trans }}</p>
        <a href="{{target}}" class="button__secondary">{{ ctaTitle|trans }}</a>
        
    </div>

</div>
