<div{{ attributes }}
    class="card__container"
>
    <!-- component html -->

    <div class="card">


        
        {{ ux_icon(serviceIcon,{'class':'card__icon' }) }}
        <h3>{{service}}</h3>
        <p>{{description}}</p>
        <a href="{{target}}" class="button__secondary">{{ctaTitle}}</a>
    </div>

</div>
