{% extends 'base.html.twig' %}
{% trans_default_domain 'catalogue' %}


    {% block keyWord %}
        {% if type is same as 'activité'  %}

            {{'catalogue.activite.seo.kw'|trans}}
        {% else %}
            
            {{'catalogue.excursion.seo.kw'|trans}} 
        {% endif %}
    {% endblock %}



    {% block desc %}
        {% if type is same as 'activité'  %}
            {{ 'catalogue.activite.seo.metadesc'|trans }}
        {% else %}
            
            {{ 'catalogue.excursion.seo.metadesc'|trans }}
        {% endif %}
    {% endblock %}
{# {% endif %} #}



{% block title %}{{ type is same as 'activité' ? 'catalogue.activite.seo.title'|trans  :  'catalogue.excursion.seo.title'|trans }}{{parent()}}{% endblock %}
{% block mainClass %}catalogue{% endblock %}

{% block body %}
{{parent()}}
<section class="product__header">

    <a href="{{path('app_home')}}" class="return__link cta">
        {{ ux_icon('flowbite:arrow-left-outline',{'class':'back-arrow'}) }}
        {{ 'catalogue.ctaBack'|trans }}
    </a>
    
    <a href="{{path('app_catalogue',{'type': type == 'activites' ? 'excursions' :'activites' })}}" class="button__secondary">

        {{ type == 'activites' ?  'catalogue.activite.seeOthers'|trans :'catalogue.excursion.seeOthers'|trans }}
    </a>
</section>

<section class="product__grid">

{% if collection|length > 0 %}
    <div class="grid__container">



        {#? mode test for admin if unvisible #}
        {% if is_granted('ROLE_ADMIN')%}
            {% for item in collection %}

                <twig:ProductCarte 
                produit='{{item}}'
                type='{{type}}'
                
            />
            {% endfor %}
        {% else %}
            {% for item in collection %}
                {#? mode prod if visible #}
                {% if item.isPublic   %}
                    {% if item.buttonCode %}
                    
                        <twig:ProductCarte 
                            produit='{{item}}'
                            type='{{type}}'
                        />
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
            


    </div>
{% else %}
    <div class="grid__empty">

        <p>Aucun élément pour l'instant {{type}}</p>
        
        <a href="{{path('app_home')}}" class="">
            Retour
        </a>
        
        {% if app.user %}
            <a href="{{path('admin_'~ type ~'_index')}}">
                Ajouter des {{type}}
            </a>

        {% endif %}
    </div>
{% endif %}
    

</section>



{% endblock %}
