{% extends 'base.html.twig' %}

{% if type is same as 'activité'  %}
    {% block keyWord %}
        Activités Guadeloupe, loisirs archipel, activités familiales 
    {% endblock %}
    {% block desc %}
        Découvrez les meilleures activités en Guadeloupe : loisirs pour tous les âges et expériences authentiques au cœur des îles
    {% endblock %}
{% else %}
    {% block keyWord %}
        Excursions Guadeloupe, aventures archipel, découverte nature. 
    {% endblock %}
    {% block desc %}
        Explorez notre catalogue d’excursions en Guadeloupe : nature, aventure, culture et expériences mémorables.
    {% endblock %}
{% endif %}



{% block title %}{{type}}{{parent()}}{% endblock %}
{% block mainClass %}catalogue{% endblock %}

{% block body %}
{{parent()}}
<section class="product__header">

    <a href="{{path('app_home')}}" class="return__link cta">
        {{ ux_icon('flowbite:arrow-left-outline',{'class':'back-arrow'}) }}
        Retour
    </a>
    
    <a href="{{path('app_catalogue',{'type': type == 'activites' ? 'excursions' :'activites' })}}" class="button__secondary">

        Voir les {{ type == 'activites' ? 'excursions' :'activités' }}
    </a>
</section>

<section class="product__grid">

{% if collection|length > 0 %}
    <div class="grid__container">

        {% for item in collection %}
            <twig:ProductCarte 
                produit='{{item}}'
                type='{{type}}'
                
            />
            
        {% endfor %}
    </div>
{% else %}
    <div class="grid__empty">

        <p>Aucun élément pour l'instant {{type}}</p>
        
        <a href="{{path('app_home')}}" class="">
            Retour
        </a>
        
        {% if app.user %}
            <a href="{{path('admin_'~ type ~'_index')}}">
                Ajouter des {{type}}
            </a>

        {% endif %}
    </div>
{% endif %}
    

</section>



{% endblock %}
